/*
!app
app/*
!app/backend
!app/bin
!app/configs
!app/frontend
!app/schemas
!app/types
!app/app.mjs
!app/docker-entrypoint.sh
!build
!example
!.gitignore
!CHANGELOG.md
!LICENSE
!metadata.json
!README.md

